.categories__button {
  width: 135px;
  height: 32px;

  color: #8c8c8c;
  font-size: 14px;
  font-weight: 300;

  background-color: transparent;
  border-radius: 3px;
  border: 1px solid #ebebeb;

  &:hover {
    color: #ffffff;
    
    background-color: #998675;
  }
}