.excellent {
  margin-top: -3%;
  padding-top: 110px;

  background-color: #fbfaf8;
}

.excellent__headline {
  margin-top: 112px;
  margin-bottom: 27px;
}

.excellent__description {
  margin-bottom: 35px;
}

.excellent__list {
  padding-left: 47px;
}

.excellent__item {
  padding-left: 50px;
  margin-bottom: 10px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 21px;
    height: 21px;
    display: block;
    background-image: url("../img/excellent-list-disk.png");
    background-position: center;
  }
}

.excellent__picture {
  width: 100%;
  height: auto;
}

@media (max-width: 1200px) {
  .excellent {
    padding-top: 20px;
  }

  .excellent__headline {
    margin-top: 30px;
    margin-bottom: 27px;
  }

  .excellent__list {
    padding-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .excellent__picture {
    display: none;
  }

  .excellent__headline,
  .excellent__description {
    text-align: center;
  }

  .excellent__list {
    padding-left: 0px;
  }
}