.realization {
  padding-top: 78px;
  
  background-color: #fbfaf8;
}

.realization__headline {
  margin-bottom: 16px;

  text-align: center;
}

.realization__description {
  margin-bottom: 34px;

  text-align: center;
}

.realization__picture {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .realization {
    padding-top: 40px;
  }
}