.recent-posts {
  padding-top: 77px;
  padding-bottom: 80px;

  & .container {
    max-width: 1170px;
  }
}

.recent-posts__headline {
  margin-bottom: 16px;

  text-align: center;
}

.recent-posts__description {
  margin-bottom: 32px;

  text-align: center;
}

.recent-posts__carousel {
  padding-bottom: 40px;
}

.recent-posts__indicators {
  bottom: -30px;
}

.recent-posts__indicator {
  width: 22px !important;
  height: 22px !important;
  background-image: none;

  &--left {
    background-image: url("../img/recent-posts-left.svg");
    opacity: 1 !important;

    &.active {
      background-image: url("../img/recent-posts-left-active.svg");
    }
  }

  &--right {
    background-image: url("../img/recent-posts-right.svg");
    opacity: 1 !important;

    &.active {
      background-image: url("../img/recent-posts-right.svg");
    }
  }
}

