.post {
  position: relative;

  border: 1px solid #f8f8f8;
  border-radius: 0;

  &:hover {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      background-color: rgba(17, 17, 17, 0.7);
    }
    .post__content {
      background-color: #362f2d;
    }

    .post__title {
      color: #c7b299;
    }

    .post__description {
      color: #ffffff;
    }

    .post__day {
      color: #ffffff;

      background-color: #c7b299;
    }

    .post__month {
      color: #ffffff;

      background-color: #a48d72;
    }
  }
}

.post__picture {
  height: auto;
}

.post__date {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
}

.post__day {
  display: block;
  width: 50px;
  height: 35px;

  font-family: "Montserrat";
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  
  border-radius: 3px 3px 0 0;
  background-color: #363636;
}

.post__month {
  display: block;
  width: 50px;
  height: 25px;

  font-family: "Roboto";
  font-size: 12px;
  font-weight: 400;
  text-align: center;

  border-radius: 0 0 3px 3px;
  background-color: #252525;
}

.post__content {
  position: relative;
  z-index: 2;

  padding-top: 27px;
  padding-left: 30px;

  background-color: #ffffff;
}

.post__title {
  margin-bottom: 17px;

  font-family: "Raleway";
  color: #555555;
  font-size: 20px;
  font-weight: 500;
}

.post__description {
  margin-bottom: 18px;

  color: #8c8c8c;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}
