.logo__link {
  font-family: Raleway;
  color: #ffffff;
  font-size: 34px;
  font-weight: 400;
  letter-spacing: -1.36px;

  &:hover {
    color: #c7b299;
    text-decoration: none;
  }
}

.logo__img {
  margin-right: -5px;
}