.latest-projects {
  padding-top: 80px;
  padding-bottom: 80px;
}

.latest-projects__headline {
  margin-bottom: 20px;

  text-align: center;
}

.latest-projects__description {
  margin-bottom: 40px;

  text-align: center;
}

.latest-projects__categories {
  margin-bottom: 40px;
}

.latest-projects__button {
  display: block;
  margin: 0 auto;
}