.latest-projects {
  padding-top: 78px;
  padding-bottom: 40px;
}

.latest-projects__headline {
  margin-bottom: 14px;

  text-align: center;
}

.latest-projects__description {
  margin-bottom: 34px;

  text-align: center;
}

.latest-projects__categories {
  margin-bottom: 40px;
}

.latest-projects__list {
  margin-bottom: 20px;
}

.latest-projects__button {
  display: block;
  margin: 0 auto;
}

.latest-projects {
  & .container {
    max-width: 1170px
  }
}