.project {
  position: relative;

  border: none;
  box-shadow: none;

  &:hover {
    .project__content {
      background-color: #362f2d;

      &::after {
        z-index: 2;
        border-bottom-color: #362f2d;
      }
    }

    .project__title {
      color: #ffffff;
    }

    .project__description {
      color: #c7b299;
    }

    .project__more {
      display: block;
    }
  }
}

.project__picture {
  height: auto;
}

.project__content {
  position: relative;

  padding-top: 27px;
  padding-left: 8.1%;

  background-color: #fbfaf8;

  &::after {
    content: "";
    position: absolute;
    top: -25px;
    left: 19px;

    width: 30px;
    height: 20px;
    
    border: 15px solid transparent;
    border-bottom: 10px solid #fbfaf8;
  }
}

.project__title {
  font-family: "Raleway";
  color: #c7b299;
  font-size: 20px;
  font-weight: 500;
}

.project__description {
  color: #d1d1d1;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.project__more {
  position: absolute;
  top: 0;

  display: none;
  width: 100%;
  height: 70%;

  background-color: rgba(17, 17, 17, 0.7);
}

.project__wrapper {
  width: 100%;
  height: 100%;
}

.project__link {
  &:hover {
    .project__icon {
      fill: #c7b299;
    }
  }
}

.project__icon {
  fill: #ffffff;
}

@media (max-width: 992px) {
  // .project__content {
  //   padding-left: 15px;
  // }

  .project__title {
    font-size: 18px;
  }

  .project__description {
    font-size: 12px;
  }
}