.theme {
  min-height: 150px;
  padding-top: 44px;
  padding-bottom: 10px;

  background-color: #f4f5f8;
  background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
}

.theme__headline {
  margin-bottom: 0px;

  font-family: "Raleway";
  color: #ffffff;
  font-size: 28px;
  font-weight: 400;
  
  &--color {
    color: #c7b299;
  }
}

.theme__description {
  color: #615855;
  font-size: 18px;
  font-weight: 300;
}

.theme__button {
  margin-top: 5px;
  display: block;
  margin-left: auto;
}

@media (max-width: 992px) {
  .theme__headline {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .theme {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .theme__headline,
  .theme__description {
    text-align: center;
  }

  .theme__button {
    margin-right: auto;
  }
}