.services {
  min-height: 373px;
  padding-top: 80px;
}

.services__item {
  position: relative;

  padding-bottom: 28px;

  &::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: calc(50% - 35px);

    width: 70px;
    height: 3px;

    background-color: #f1eee9;
  }

  &:hover {
    .services__img {
      fill: #c7b299;
    }

    .services__title {
      color: #c7b299;
    }

    &::after {
      background-color: #c7b299;
    }
  }
}

.services__img {
  width: 50px;
  height: 50px;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;

  fill: #555555;
}

.services__title {
  margin-bottom: 12px;

  font-family: "Raleway";
  color: #555555;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

.services__description {
  color: #8c8c8c;
  font-size: 13px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}