.page-footer__logo {
  display: block;
  margin-top: -10px;
  margin-bottom: 22px;
}

.page-footer__headline {
  margin-top: 11px;
  margin-bottom: 23px;

  font-family: "Raleway";
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
}

.page-footer__item {
  padding-top: 15px;
  padding-bottom: 19px;
  border-bottom: 1px solid #252525;

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    border-bottom: none;
  }
}

.page-footer__text {
  color: #555555;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}

.page-footer__date {
  color: #363636;
  font-size: 12px;
}

.page-footer__about {
  
  & .page-footer__text {
    margin-bottom: 20px;

    line-height: 24px;
  }

  & .read-more:hover {
    text-decoration: none;
    color: #ffffff;
  }
}

.page-footer__dribbble {

  & .page-footer__item {
    width: calc(50% - 5px);
    height: auto;
    margin-bottom: 10px;
    padding: 0;
    border: none;
  }
}

.page-footer__picture {
  width: 100%;
  height: auto;
}

.page-footer__link {
  color: #959595;

  &--social {
    color: #00bff3;
  }

  &:hover {
    color: #ffffff;
    text-decoration: none;
  }
}

